<tr>
    <td><%= user.nro_document %></td>
    <td><%= user.name %></td>
    <td><%= user.username %></td>
    <td><%= user.email %></td>
    <td><%= user.state %></td>
    <td><%= user.level %></td>
    <td><%= link_to t('common.edit'), edit_user_path(user), class: 'btn btn-sm btn-primary'  %></td>
    
</tr>