<div class="container col-11 card p-5">
    <br>
    <%= form_with model: @product do |form| %>
        <% @product.errors.full_messages.each do |error| %>
            <div class="alert alert-danger" role="alert">
                <%= error%> <%= alert %>
            </div>
        <% end %>    
        <div class="form-group">  
            <div class="col-sm-11">  
                <%= form.label :name, style: "display: block" %>
                <%= form.text_field :name,  class: "form-control", required: true %>
            </div>
        </div>
        <br>
        <div class="form-group">  
            <div class="col-sm-11">  
                <%= form.label :description, style: "display: block" %>
                <%= form.text_field :description,  class: "form-control", required: true %>
            </div>
        </div>
        <br>

        <div class="row g-2">
            <div class="col-sm-5">
                <%= form.label :brands,  style: "display: block" %>
                <%= form.text_field :brands,  class: "form-control" %>
            </div>
            <div class="col-sm-6">
                <%= form.label :type_product,  style: "display: block" %>
                <%= form.select(:type_product, [['Sin seleccionar', 'Sin seleccionar'], ['Producto', 'Producto'], ['Servicio', 'Servicio']]) %>
            </div>
        </div>        
        <br>
        <div class="row g-3">
            <div class="col-sm-4">
                <%= form.label :category_l1,  style: "display: block" %>
                <%= form.text_field :category_l1,  class: "form-control" %>
            </div>
            <div class="col-sm-4">
                <%= form.label :category_l2,  style: "display: block" %>
                <%= form.text_field :category_l2,  class: "form-control" %>
            </div>
            <div class="col-sm-3">
                <%= form.label :category_l3,  style: "display: block" %>
                <%= form.text_field :category_l3,  class: "form-control" %>
            </div>
        </div>        
        <br> 
        <div class="row g-2">
            <div class="col-sm-4">
                <%= form.label :codigo_inter,  style: "display: block" %>
                <%= form.text_field :codigo_inter,  class: "form-control" %>
            </div>
            <div class="col-sm-4">
                <%= form.label :id_inter,  style: "display: block" %>
                <%= form.text_field :id_inter,  class: "form-control" %>
            </div>
        </div>        
        <br> 

        <button type="submit" class="btn btn-sm btn-primary"><%=t('common.submit')%></button>
        <%= link_to '<button class="btn btn-sm btn-primary" type="button">Retornar</button>'.html_safe, products_path %>

    <% end %>
</div>        
 <br>