<tr>
    <td><%= product.id %></td>
    <td><%= product.name %></td>
    <td><%= product.codigo_inter %></td>

    <td><%= link_to t('common.edit'), edit_product_path(product), class: 'btn btn-sm btn-primary'  %></td>
    <td><%= link_to t('common.delete'), product, data: { 'turbo-method': :delete, 'turbo-confirm': 'Está seguro de eliminar el producto?' }, class: 'btn btn-sm btn-danger' %></td>

</tr>